<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<div class="well">
			<h1>Forecast for <%= @location %>,<%= @country %></h1>
			<div class="row">
				<div class="col-md-7">
					<p>
						<em>How's the weather?</em>
					</p>
					<p>
						Temp is <%= @temperature%>
					</p>
					<p>
						Cloud Cover: <%= @cloudiness %>
					</p>
					<p>
						Wind: <%= @windiness %> mph
					</p>
					<p>
						Description: <%= @weather_description %>
					</p>
				</div>
				<div class="col-md-5">
					<p>
						<%= @weather_words %>
						<img src="http://openweathermap.org/img/w/<%= @weather_icon%>.png">
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
